<div ng-show="WeatherController.location" class="weather-container">
    <div class="weather-location">{{WeatherController.location}}</div>
    <div class="weather-temperature">{{WeatherController.temperature}}&deg;</div>

    <div class="weather-toggle" ng-click="WeatherController.toggleTemperatureUnit()"
         ng-class="{left: WeatherController.temperatureUnit == 'F', right: WeatherController.temperatureUnit == 'C'}">
        <div class="handle"></div>
        <span class="left">F</span>
        <span class="right">C</span>
    </div>
</div>