body {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

.switch {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.6em;
    font-weight: bold;
    color: #ccc;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
    height: 18px;
    padding: 6px 6px 5px 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background: #ececec;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.switch span {
    display: inline-block;
    width: 35px;
    text-align: center;
}

.switch .toggle {
    position: absolute;
    top: 1px;
    width: 37px;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;

    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
    z-index: 999;

    transition: all 0.15s ease-in-out;
}

.switch.on .toggle {
    left: 2%;
}

.switch.off .toggle {
    left: 54%;
}
