body {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    font-size: 3em;
}

.weather-container {
    border: 1px solid black;
    display: inline-block;
    text-align: center;
}

.weather-temperature {
    font-size: 2em;
    font-weight: bold;
    margin: 0 5px;
}

.weather-location {
    color: #ccc;
    text-transform: uppercase;
    margin: 0 5px;
}

.weather-toggle {
    position: relative;
    display: block;
    font-weight: bold;
    color: #CCC;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    background: #ececec;
    cursor: pointer;
    font-size: 0;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.weather-toggle span {
    display: inline-block;
    width: 50%;
    font-size: 2rem;
    height: 2em;
    line-height: 2em;
}

.weather-toggle.left .left, .weather-toggle.right .right {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 0.5em 0.01em rgba(0,0,0,0.3);
    color: white;
}
