@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    font-size: 3em;
}

.weather-container {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: #22A7F0;
    color: white;
}

.weather-temperature {
    font-size: 2em;
    font-weight: bold;
    margin: 0 5px;
}

.weather-location {
    color: rgba(255,255,255,0.75);
    text-transform: uppercase;
    margin: 0 0.5em;
}

.weather-toggle {
    position: relative;
    display: block;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
    width: 100%;
    background: rgba(0,0,0,0.25);
    cursor: pointer;
    font-size: 0;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.weather-toggle span {
    display: inline-block;
    width: 40%;
    margin: 0.2em 5%;
    font-size: 2rem;
    height: 2em;
    line-height: 2em;
}

.weather-toggle.left .left, .weather-toggle.right .right {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 0.1em;
}
